body {
  margin: 20px;
  padding: 0;
}

#chart-wrapper {
  position: relative;
}

.plots polyline {
  fill: none;
  vector-effect: non-scaling-stroke;
  transition: all 333ms ease;
}

#main .plots polyline {
  stroke-width: 4px;
}

#zoom .plots polyline {
  stroke-width: 2px;
}

.ticks g, .tick-text {
  transition: all 333ms ease;
}

.ticks line {
  stroke: #f2f4f5;
  stroke-width: 3px;
}

.ticks g.old, .tick-text.old {
  opacity: 0;
}

.ticks g.enter, .tick-text.enter {
  opacity: 0;
  animation: enter 333ms forwards;
}

.tick-text {
  transform-origin: center center;
  font-family: Helvetica, sans-serif;
  fill: #96a2aa;
}

@keyframes enter {
  from {
    opacity: 0;
  } to {
    opacity: 1;
  }
}

.tooltip {
  transform-origin: center center;
}

.tooltip .container {
  fill: white;
  filter: url(#dropshadow);
}

.tooltip text {
  font-family: Helvetica, sans-serif;
}

.tooltip .date {
  fill: #222222;
  font-weight: 600;
}

.tooltip .value {
  font-size: 1.2em;
  font-weight: bold;
}

.tooltip-line {
  stroke: #dfe6eb;
  vector-effect: non-scaling-stroke;
}

.marker {
  stroke-width: 4px;
  fill: white;
}

.xscale-container {
  position: relative;
  width: 1000px;
  height: 50px;
  overflow-x: hidden;
  overflow-y: visible;
}

#xscale {
  overflow-y: visible;
}

#xscale span {
  position: absolute;
  color: #868691;
  font-size: 16px;
  font-family: Helvetica, sans-serif;
  transition: opacity 333ms;
}

#buttons {
  margin-top: 20px;
}

.toggle {
  font-size: 26px;
  line-height: 26px;
  padding: 10px;
  border: 2px solid #e6ecf0;
  border-radius: 28px 28px;
  margin-right: 20px;
  display: inline-flex;
  background: white;
}

.toggle span {
  margin-right: 10px;
  color: #43484b;
  pointer-events: none;
}

.toggle .icon {
  content: '';
  display: block;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: white;
  transition: all 333ms ease;
}

.toggle .icon::after{
  content: '';
  display: block;
  width: 6px;
  height: 12px;
  margin-left: 11px;
  margin-top: 6px;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

.toggle.active .icon {
  background: grey !important;
}
